@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  font-weight: bold;
}

td {
  padding: 0 5px 7px;
  height: 20px;
  .objet {
    padding: 5px 0;
  }
}

#notice {
  color: blue;
}

label {
  display: block;
}

.email-content {
  height: 100%;
  min-height: 400px;
  padding: 20px;
  background-color: #E8E8E8;
}

.row {
  background-color: rgb(232,232,232);
}
h2 {
  margin-top: 10px;
}
.btn-danger, .btn-danger:hover {
    color: #fff;
    background-color: #FFF;
    border-color: #FFF;
}
.col-md-3 {
  background-color: rgb(200,200,200);
}
