<div class="">
<h2><%= email.object %></h2>
<p class="text-justify emailBody"> <%= email.body %> </p>
<p class="btn btn-danger"><%= link_to 'Delete Email', email, :remote => true, :class => 'delete_email', method: :delete %></p>
</div>
