<div class="container">
  <h1>MailJax</h1>
  <p>Les Objets perdent leur bold au onclick</p>
    <div class="row">
        <div class="col-md-3 bg-primary">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mail box</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody id="emails">
                    <%= render 'emails/index' %>
                </tbody>
            </table>
        </div>
        <div class="col-md-9 email-content">
          <div id="contenu"> </div>
        </div>
    </div>
</div>
